@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {

  themes: retro, dracula --default;

}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes wiggle {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes wiggle-rotate {
  0%, 100% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(-10px) rotate(45deg);
  }
}

.animate-wiggle {
  animation: wiggle 2s ease-in-out infinite;
}

.animate-wiggle-rotate {
  animation: wiggle-rotate 2s ease-in-out infinite;
}

.animate-wiggle-delayed-1 {
  animation: wiggle 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.animate-wiggle-delayed-2 {
  animation: wiggle 2s ease-in-out infinite;
  animation-delay: 0.4s;
}