@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {

  themes: retro, dracula --default;

}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}